.mypagefield{
  border: 5px solid #2d2d2a;
  display: flex;
}
#imgfile{
    float: left;
    margin: 5px;;
    width: 300px;
    height: 300px;

}
.mypagefield  img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: white;
  margin: 40px;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 11px solid #2d2d2a;
  border-radius: 100%;
}

.vGraph ul {
    margin: 0;
    padding: 0;
    height: 200px;
    border-bottom: 4px solid #2d2d2a
    font-size: 11px;
    font-family: Tahoma, Geneva, sans-serif;
    list-style: none;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
Pseudo ::after element
vGraph.css:6
.vGraph ul:after {
    content: "";
    display: block;
    clear: both;
}
.vGraph li {
    float: left;
    display: inline;
    width: 8%;
    height: 100%;
    margin: 0 3%;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.vGraph .gTerm {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 0 -100% -20px 0;
    padding: 200px 0 0 0;
    vertical-align: bottom;
    color: #1d554a;
    font-weight: bold;
}
.vGraph .gBar {
  position: relative;
  border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: inline-block;
    width: 100%;
    margin: -1px 0 0 0;
    border: 4px solid #2d2d2a;
    border-bottom: 0;
    background: #eb9b49;
    vertical-align: bottom;
}
.vGraph .gBar span {
    position: absolute;
    width: 100%;
    top: -20px;
    left: 0;
    color: #767676;
}
.vGraph {
    padding: 20px 0;
}
user agent stylesheet
div {
    display: block;
}
